{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<form method="POST">
    <header class="header">
            <h1>About Us</h1>
            <p id="para" align="center"> welcome to  Event Management
            ,at our website, we believe every event deserves to be memorable, stress-free and 
            perfectly organized. Our platform is designed to simplify event management, 
            whether you're planning a small gathering, a large corporate conference, or anything in between.
            </p>
            <a href="{{ url_for('auth.signup') }}" id="button-land-1">Get Started</a> 
            

    </header>
    <section class="about-section">
        <div class="content">
            <h2>What We Do? </h2>
            <br>
            <p>Our platform provides an all-in-one solution for event organizers and attendees. With our tools, you can:
            Create and Manage Events: From setting dates to managing registrations, we have got you covered.
            Collaborate with teams: Assign tasks, track progress, and ensure nothing gets missed.
            Track Event Success: Access detailed analytics to measure your event's impact.
            </p>
        </div>
        <div class="content">
            <h2>Our Mission</h2>
            <p>
                To empower individuals and organizations with intuitive tools to 
                create unforgettable events while saving time, reducing stress, and maximizing impact.
            </p>
        </div>
        <div class="content">
            <h2>Why Choose Us?</h2>
            <p>
            User-Friendly Design: Easy-to-use interface for both event organizers and attendees.
            Customizable Features: Tailor events to suit your unique needs and preferences.
            Secure and Reliable: Your data is safe with us, and our system ensures a smooth experience.
            24/7 Support: Our team is always ready to help, ensuring your events run without a hitch.
            </p>
        </div>
        <div class="content">
            <h2>Join Our Community</h2>
            <p>
                Thousands of event planners, businesses, and individuals trust Event Management website to turn their 
                ideas into successful events. Let us help you make your next event a resounding success!
            </p>
        </div>
    </section>
    <footer class="footer">
        <p>Contact Us at <a href="mailto:amnahussin88@gmail.com">amnahussin88@gmail.com</a></p>
        <p id="copy">&copy; 2024 Event Manager. All Rights Reserved. </p>
    </footer>
    
</form>
{% endblock %}