<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../static/base.css">
        <title>{% block title %}Home{% endblock %}</title>
        
    </head>
    <body>
        <nav class="navbar" align="center">
          {% block nav %}
            <a href="#" class="navbar-logo" align="center">Event Management</a>
            <div class="navbar-container">
                      {% if user.is_authenticated %}
                      <ul class="nav-left" >
                        <li ><a class="nav-item nav-link" id="base" href="{{ url_for('views.home') }}" >Home</a></li>
                        <li><a class="nav-item nav-link" id="base" href="{{ url_for('auth.logout') }}">Logout</a></li>
                      </ul>
                      {% else %}
                      <ul class="nav-left">
                        <li ><a class="nav-item nav-link" id="base"
                          href="{{ url_for('views.landing') }}" align="center">Home</a></li>
                        <li><a class="nav-item nav-link" id="base" href="{{ url_for('views.about') }}">About</a></li>
                        <li><a class="nav-item nav-link" id="base" href="{{ url_for('views.contact') }}">Contact Us</a></li>
                      </ul>
                      <ul class="nav-right">
                        <li ><a href="{{ url_for('auth.signup') }}" id="base"> Sign up</a></li>
                        <li ><a href="{{ url_for('auth.login') }}" id="base">login</a></li>
                      </ul>
                      {% endif%}
                    
            </div>
          {% endblock%}        
        </nav>
          
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
            <div class="container" align="center">{% block content %} {% endblock %}</div>  
            
    </body>
    
</html>