{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="content" align="center" >
    <br>
    <form  method="POST" align="center">
            <input type="text" name="content" id="content" >
            <button type="submit" >Add Event</button>
    </form>
    <br>
    <table>
        <thead align='center';>
            <td>Event</td>
            <td>Date</td>
            <td>Action</td>
        </thead>
        <tbody align="center" >
            {% for event in user.events %}
                <tr>
                    <td>{{ event.content }}</td>
                    <td>{{ event.due_date.date() }}  {{ event.due_date.time() }}</td>
                    <td style="text-align:center;">
                        <a class="update" href="/update/{{event.id}}" >update</a>
                        <br>
                        <a class="delete" href="/delete/{{event.id}}" >delete</a>
                    </td>
                  
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
    <br>
    
</div>
{% endblock %}