{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block nav %}
<a href="#" id="land-navbar-logo1" class="navbar-logo">Event Management</a>
<div class="land-navbar">
  <div class="land-nav-left">
      <a  id="base" href="#">Home</a>
      <a  id="base" href="{{ url_for('views.about') }}">About</a>
      <a  id="base" href="{{ url_for('views.contact') }}">Contact Us</a>
  </div>
  <div class="land-nav-right" >
      <a href="{{ url_for('auth.signup') }}" id="base">Sign up</a>
      <a href="{{ url_for('auth.login') }}" id="base">login</a>
  </div>
</div>
{% endblock %}
{% block content %}
<header class="header">
  <h1>Welcome To Event Management!!</h1>
  <br>
  
  <p> Our Event Management platform simplifies planning, organizing,
    and managing events for individuals, businesses and organizations.
    Join to us and manage your events efficiently.</p>
  <a href="{{ url_for('auth.signup') }}" id="button-land-1">Get Started</a> 
</header>
<a href="#" id="land-navbar-logo1" class="navbar-logo"></a>
<a href="#" id="land-navbar-logo2" class="navbar-logon"></a>
{% endblock %}
