{% extends 'base.html' %}
{% block title %}Sign Up | Event Management{% endblock %}
{% block content %}
<form method="POST">
    <br>
    <div  >
        <h2>Create a Event Management account</h2>
        <h4>Quick and easy process</h4>
         <br>
    </div>
    
    <div align="center">
        <label for="username">Enter your Name</label>
        <br>
        <input  id = 'username' type="text"
            name='username' required>
    </div>
    <br>
    <div align="center">
        <label for="email">Enter Your E-mail</label>
        <br>
        <input id = "email" required name="email">
    </div>
    <br>
    <div align="center">
        <label for="pass" >Enter Your Password</label>
        <br>
        <input id="pass" type="password"
            required name="password">
    </div>
    <br>
    <div align="center">
        <label for="pass2" >Confirm Your Password</label>
        <br>
        <input id="pass2" type="password"
            required name="password2">
    </div>
    <br>
    <div align="center">
        <button type="submit" >Sign Up</button>
    </div>
    

</form>
{% endblock %}