table
{
    padding:0px; background-color:white; width:70%;
}
table thead
{
    background-color: #c77919; width:100%; font-size:x-large;
}
table tbody
{
    background-color: #eea54b;
}
#update
{
    text-decoration:none; color:rgb(11, 34, 241); text-align:center;
}
#delete
{
    text-decoration:none; color:rgb(179, 20, 20); text-align:center;
}
button
{
    background-color: #152aa3; color:white;
    padding:5px; width:7%;
}
.content
{
    width:30%; padding:6px;
}