div h2
{
    text-align: center;
}
button
{
    background-color: rgb(16, 16, 221);
    color:white; width:7%; padding:4px; font-size:larger;
}
div label
{
    font-size: larger;
}
div input
{
    width: 30%; padding:6px;
}